<a href="https://colab.research.google.com/github/poten-jay/Note-cote-/blob/master/S1-Week%204-Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Section 1 : Project

이덕재님은 게임 회사의 데이터 팀에 합류했습니다.

- 다음 분기에 어떤 게임을 설계해야 할까

라는 고민을 해결하기 위해, 기존의 데이터에 기반하여 인사이트를 얻고, 의사결정을 하고자 하는 것이 여러분의 목표입니다.

아래의 링크를 통해 파일을 다운로드 받으세요.

https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv

## Data Description

- Name : 게임의 이름입니다.
- Platform : 게임이 지원되는 플랫폼의 이름입니다.
- Year : 게임이 출시된 연도입니다.
- Genre : 게임의 장르입니다.
- Publisher : 게임을 제작한 회사입니다.
- NA_Sales : 북미지역에서의 출고량입니다.
- EU_Sales : 유럽지역에서의 출고량입니다.
- JP_Sales : 일본지역에서의 출고량입니다.
- Other_Sales : 기타지역에서의 출고량입니다.

## Keywords (참조용)

- Sprint 1 : EDA, Feature Engineering, Data Manipulation, Data Visualization
- Sprint 2 : Hypothesis Test, CI, Bayesian
- Sprint 3 : DR, PCA, Cluster

## 반드시 들어가야 하는 내용.

 - 지역에 따라서 선호하는 게임 장르가 다를까 라는 질문에 대답을 하셔야합니다.
 - 연도별 게임의 트렌드가 있을까 라는 질문에 대답을 하셔야합니다.
 - 출고량이 높은 게임에 대한 분석 및 시각화 프로세스가 포함되어야 합니다.
 - 위 3가지 내용과 여러분들의 개인적인 분석 목표, 질문을 더하여 프로젝트를 완성하세요.

In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/vgames2.csv')
df.rename(columns={'Unnamed: 0' : 'index'}, inplace= True)
df = df.drop(['index'], axis = 'columns')
df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

In [6]:
df1 = df.copy()   # 복사본

In [7]:
# df.dtypes  # 데이터 타입 확인
# df.isnull().sum()  # 결측치 확인

In [8]:
# df['Platform'].value_counts()   # 행 별로 데이터 확인
# df['Year'].value_counts()
# df['Genre'].value_counts()
# df['Publisher'].value_counts()
# df['NA_Sales'].value_counts()
# df['EU_Sales'].value_counts()

In [9]:
# 년도 2자리 수 정상 년도로 변경
i = 0
for i in range(1, len(df['Name'])):
    if df['Year'][i] < 100:
        if df['Year'][i] > 80 :
            df['Year'][i] = df['Year'][i] + 1900
        else:
            df['Year'][i] = df['Year'][i] + 2000
    else:
        df['Year'][i]

# 경고는 데이터프레임 일부 변경에 대한 것이므로 무시해도 무방하다.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
# Sales 데이터의 K 와 M 의 단위를 M 으로 맞춰줌 

df['NA_Sales'] = df['NA_Sales'].str.replace('K','/1000', regex=True)
df['NA_Sales'] = df['NA_Sales'].str.replace('M','/1', regex=True)
df['EU_Sales'] = df['EU_Sales'].str.replace('K','/1000', regex=True)
df['EU_Sales'] = df['EU_Sales'].str.replace('M','/1', regex=True)
df['JP_Sales'] = df['JP_Sales'].str.replace('K','/1000', regex=True)
df['JP_Sales'] = df['JP_Sales'].str.replace('M','/1', regex=True)

def divid(obj):
    try:
        num1 = float(obj.split('/')[0])
        num2 = float(obj.split('/')[1])
        prod = num1/num2
        return prod
    except:
        return float(obj)

df['NA_Sales'] = df['NA_Sales'].apply(divid)
df['EU_Sales'] = df['EU_Sales'].apply(divid)
df['JP_Sales'] = df['JP_Sales'].apply(divid)

In [12]:
df = df.dropna(axis=0)  # 결측값행 제거

In [13]:
df.reset_index()   # 인덱스 번호 리셋

       index  ... Other_Sales
0          0  ...           0
1          1  ...        0.01
2          2  ...           0
3          3  ...           0
4          4  ...        0.04
...      ...  ...         ...
16236  16593  ...        0.01
16237  16594  ...           0
16238  16595  ...        0.13
16239  16596  ...        0.03
16240  16597  ...        0.01

[16241 rows x 10 columns]